[Unit]
Description=NoorFamily Notification System
After=network.target

[Service]
Type=simple
User=hassan
WorkingDirectory=/home/hassan/family-notification-system
ExecStart=/home/hassan/family-notification-system/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8001
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
